@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}
html{
	font-size: calc(0.75vh + 0.75vw);
}
header {
    background-color:#3d4d63; 
    height:100%; 
}
body{
    top: 0;
    background-color: #58687E;
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

}
table{
    text-align: center;
    align-items: center;
}
.top-box{
    margin-left: 55%;
    padding: 1%;
}
.iconHR{    
    top: 22px;
    left: 843px;
    width: 235px;
    height: 50px;
    text-align: center;
    background: transparent url('images/logo.svg') 0% 0% no-repeat padding-box; 
    margin-left: 22%;
    opacity: 1;
    margin-top: 0.5%;
}

.logo{
    top: 16px;
    left: 86px;
    width: 277px;
    height: 52px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 1%;
}
.button:hover{
    border-color:#14AFF1;
    color: white;
}
h4{
    top: 14vh;
    left: 2vw;
    width: 9.1vw;
    height: 4.1vh;
    text-align: left;
    font: normal normal normal 28px/32px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin:1%
}
.grid{
    width: 96vw;
    height: 77vh;
    background: #273D49CC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin: 1%;
    padding: 1%;
}
.icon1{
    position: relative;
    height: 1.5vh;
    color: #97A1A9;
}
.icon2{
    position: relative;
    height: 1.5vh;
    color: #97A1A9;
}
.icon3{
    position: relative;
    width: 0.8vw;
    top: -0.5vh;
    color: #97A1A9;
}
.b1{
    width: 5vw;
    height: 4vh;
    background-color:#273D49CC;
    color: #97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 10px;
    opacity: 1;
    vertical-align: top;
    margin-right: .4vw;
}
.b2{
    width: 5.1vw;
    height: 4vh;
    background-color:#273D49CC;
    color: #97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 10px;
    opacity: 1;
    vertical-align: top;
    margin-right: .4vw;
}
.b3{
    width: 5.5vw;
    height: 4vh;
    background-color:#273D49CC;
    color: #97A1A9;
    border: 1px solid #97A1A9;
    border-radius: 10px;
    opacity: 1;
    vertical-align: top;
    margin-right: .4vw;
}
.searchinvoice{
    width: 20vw;
    height: 4vh;
    background: #283A46 0% 0% no-repeat padding-box;
    border: 1px solid #356680;
    border-radius: 10px;
    opacity: 1;
    vertical-align: top;
}
.searchbox{
    background-image: url("images/search-24px (3).svg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    font: normal normal normal 18px/21px Ubuntu;
    letter-spacing: 0px;
    color: #97A1A9;
    opacity: 1;
    margin-top: 1vh;
}
th, td {
    text-align: left;
    padding: 8px;
}


.addmodal{
    background-color: #000000;
    opacity: .75;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
.modal-content{
    color: white;
    background-color: #2A3E4C;
    background: #2A3F4D 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 60%;
    height: 50%;
    margin: 20%;
    border-radius: 1rem;
}
.close {
    color: white;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-header{
    color: white;
    background-color: #2A3E4C;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.2rem; 
    border-bottom: 2px solid #1a262f;
}


.modal-footer {
    padding: 1rem;
    margin: 0;
    width: 96.1%;
    background-color: #2a3e4c;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #1a262f;
    border-radius: 1rem;
}
.editmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.editcontent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 30%;
}
.editheader {
    padding: 2px 16px;
    background-color: #2A3E4C;
    color: white;
    border-bottom: 2px solid #1a262f;
}
.editbody {
    padding: 1rem;
    background-color:#2A3E4c ;
    height: 30vh;
}
.editinvoice{
    color: #97A1A9;
    padding-bottom: 1rem;
}
.editnotes{
    color: #97A1A9;
    padding-bottom: 1rem;
}
.editfooter{
    padding: 2px 16px;
    background-color: #2A3E4C;
    color: white;
    border-top: 2px solid #1a262f;
}
.delmodal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.delcontent{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 30%;
    height: 10%;
}
.delheader {
    padding: 2px 16px;
    background-color: #2A3E4C;
    color: white;
    border-bottom: 2px solid #1a262f;
}
.delbody {
    padding: 1rem;
    background-color:#2A3E4c ;
    height: 20vh;
    color: white;
}
.delfooter{
    background-color: #2A3E4C;
    color: white;
    border-top: 2px solid #1a262f;
    margin-top: 1rem;
}